@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(assets/qsandlight.ttf) format("ttf");
}

@keyframes ukraineAnimation {
    0% {opacity: 1;font-size: 10vmin;}
    50% {opacity: 1;}
    99% {opacity: 0;font-size: 10vmin;} 
    100% {font-size: 0;}
 } 

 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;} 
 } 

body {
    font-family: 'Quicksand', sans-serif;
    background: #191919;
    text-align: center;
    color: white;
}

.hover:hover{
    opacity: 0.7 !important;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.justified {
    text-align: justify;
}

.visible{
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.top {
    background-size: cover;
    display: inline-block;
    width: 100vmin;
    height: 100vmin;
}

.top>p {
    margin: 0 2vmin 0 2vmin;
    text-shadow: 0.2vmin 0.2vmin black;
    cursor: default;
    user-select: none;
    transition: color 1s;
}

.top>.blueAnimation:hover {
    color: blue;
}

.top>.yellowAnimation:hover {
    color: yellow;
}

.top>.supportUkraine{
    font-size: 0;
    animation-name: ukraineAnimation;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    position: absolute;
    top:40vmin;
}

.top>.introduction {
    margin-top: 2vmin;
    font-size: 3vmin;
    animation-delay: 2s;
}

.top>.name {
    font-size: 10vmin;
    animation-delay: 2s;
}

.top>.nickname {
    font-size: 4vmin;
    animation-delay: 3s;
}

.top>.description {
    margin-top: 20vmin;
    font-size: 4.5vmin;
    animation-delay: 4s;
}

.top>.title {
    margin-top: 20vmin;
    font-size: 6vmin;
    animation-delay: 5s;
}

.game{
    display: inline-block;
    width: 100vmin;
    height: 30vmin;
    background-color: rgba(0,0,0,0.5);
    border-radius: 1vmin;
    opacity: 0;
    color:white;
    margin-top: 5vmin;
}

.game>img{
    height: 30vmin;
    display: inline-block;
}

.game>span{
    display: inline-block;
    height: 30vmin;
    width: 45vmin;
    vertical-align: top;
    text-align: center;
}

.game>span>.title{
    font-size: 5vmin;
    display: inline-block;
    margin: 0;
}

.game>span>.description{
    font-size: 3vmin;
    display: inline-block;
    margin: 3vmin 0 0 0;
}

.links>a>img{
    width:15vmin;
    height: 15vmin;
}